{% extends 'base.html' %} 
{% block title %}Booking{% endblock %} 
{% block content %} 
{% load static %}
<link rel="stylesheet" href="{% static '/css/booking.css' %}" />

{% include 'navbar.html' %}
<div id="container-booking">
  <h1>Book Tickets</h1>

  <p><strong>Movie:</strong> {{ movie.title }}</p>
  <p><strong>Price: Rp.</strong> {{ movie.ticket_price }}</p>
  {% comment %} get images from static {% endcomment %}

  {% comment %} <div class="arrangement-seat">
    <img src="/static/images/seat_arrangement.svg" alt="movie poster" />
  </div> {% endcomment %}

  <form
    id="booking-form"
    method="POST"
    action="{% url 'book_ticket' movie_id=movie.id %}"
  >
    {% csrf_token %}

    <div class="seats-container">
      <div class="row">
        {% for seat in seats %} {% if seat.available %}
        <div
          class="seat"
          data-price="{{ movie.ticket_price }}"
          onclick="toggleSeatSelection(this)"
        >
          {{ seat.number }}
        </div>
        <input
          type="checkbox"
          class="seat-checkbox"
          name="seats"
          value="seat_{{ seat.number }}"
          style="display: none"
        />
        {% else %}
        <div class="seat booked" data-price="{{ movie.ticket_price }}">
          {{ seat.number }}
        </div>
        <input
          type="checkbox"
          class="seat-checkbox"
          name="seats"
          value="seat_{{ seat.number }}"
          style="display: none"
          disabled
        />
        {% endif %} {% if forloop.counter|divisibleby:13 %}
      </div>
      <div class="row">{% endif %} {% endfor %}</div>
    </div>

    <div class="purchase-info">
    <p>
      <strong>Total Ticket Price: Rp.<span id="total-price">0</span></strong>
    </p>

    <p><strong>Selected Seats:</strong></p>
    <div class="selected-seats-container">
      <p id="selected-seats"></p>
    </div>
    </div>

    <button type="submit">Book and Pay</button>
  </form>

  {% if messages %} {% for message in messages %}
  <script>
    alert("{{ message }}");
    if (getParameterByName("balance_error")) {
      window.location.href = "{% url 'book_ticket' movie_id=movie.id %}";
    }
  </script>
  {% endfor %} {% endif %}
</div>
<script>
  // Get references to HTML elements
  const form = document.getElementById("booking-form");
  const seats = document.querySelectorAll(".seat:not(.booked)");
  const checkboxes = document.querySelectorAll(".seat-checkbox");
  const totalPriceElement = document.getElementById("total-price");
  const selectedSeatsElement = document.getElementById("selected-seats");

  // Initialize total price and selected seats
  let totalPrice = 0;
  let selectedSeats = [];

  // Toggle seat selection
  function toggleSeatSelection(seat) {
    seat.classList.toggle("selected");
    const checkbox = seat.nextElementSibling;
    checkbox.checked = !checkbox.checked;
    updatePreview();
  }

  // Update total price and selected seats
  function updatePreview() {
    totalPrice = 0;
    selectedSeats = [];

    seats.forEach((seat) => {
      if (seat.classList.contains("selected")) {
        const price = parseInt(seat.dataset.price);
        totalPrice += price;
        selectedSeats.push(seat.textContent);
      }
    });

    totalPriceElement.textContent = totalPrice;
    selectedSeatsElement.innerHTML = selectedSeats
      .map((seat) => `<p>${seat},</p>`)
      .join("");
  }

  // Add event listener to form submission
  form.addEventListener("submit", () => {
    // Update hidden input with selected seats
    const selectedSeatsInput = document.createElement("input");
    selectedSeatsInput.type = "hidden";
    selectedSeatsInput.name = "selected_seats";
    selectedSeatsInput.value = selectedSeats.join(",");
    form.appendChild(selectedSeatsInput);
  });
</script>

{% endblock %}
