{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/homepage.css' %}">

{% include 'navbar.html' %}

<div id="homepage">
<h1 class="movie-list-header">Movie List</h1>
<div class="movie_container">
    {% for movie in movies %}
    <a href="{% url 'movie_detail' movie.id %}">
        <div class="movie_wrapper">
            <img src="{{ movie.poster }}" alt="Movie Poster">
            <div class="movie_info">
                <h2>{{ movie.title }}</h2>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

</div>

{% endblock %}

{% comment %} {% if movie.description|length <= 100 %}
<p>{{ movie.description }}</p>
{% else %}
    <p>{{ movie.description|slice:":100" }}...</p>
{% endif %} {% endcomment %}
{% comment %} <p>Age Rating: {{ movie.age_rating }}</p>
<p>Ticket Price: {{ movie.ticket_price }}</p> {% endcomment %}