#login_page{
    width: 100%;
    background-image: url("/static/images/bg_login2.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#login_page h1{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 90%;
    background-color: rgba(3, 3, 3, 0.9);
    
    padding: 20px;
    padding-bottom: 50px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
}

form input{
    font-size: small;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #0F0F0F;
    border-radius: 5px;
    background-color: #333333;
    color: #BDC7C9;
}

form input:focus{
    color: #d3d3d3;
}

.datar_button{
    background-color: #FF0000;
    color: white;
    font-size: small;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    font-weight: bold;
}

form p{
    color: #BDC7C9;
}

form p a{
    color: #FF0000;
    margin-left: 5px;
}


.show-password-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}

#show-password{
    margin: 0;
    display: block;
    background-color: #434040;
}

.show-password-container p{
    color: #BDC7C9;
    margin: auto 0;
    font-size: small;
    margin-left: 10px;
}

#home_icon{
    position: fixed;
    bottom:10px;
    right: 10px;
    margin: 20px;
    z-index: 9999;
    color: #FF0000;
    font-size: 3rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    #home_icon{
        font-size: 2rem;
        bottom:0px;
    }
  }